<%= form_for @backpack do |f| %>
  <p>
    <%= f.label :color %><br>
    <%= f.text_area :color %>
  </p>

  <p>
    <%= f.label :capacity %><br>
    <%= f.text_area :capacity %>
  </p>

  <p>
    <%= f.label :pockets %><br>
    <%= f.text_area :pockets %>
  </p>

  <p>
    <%= f.label :waterproof %><br>
    <%= f.text_area :waterproof %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>