<%= form_for @article do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :model %><br>
    <%= f.text_area :model %>
  </p>

   <p>
    <%= f.label :processorBrand %><br>
    <%= f.text_area :processorBrand %>
  </p>

   <p>
    <%= f.label :ram %><br>
    <%= f.text_area :ram %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.text_area :price %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<p>
  <%= link_to 'Back', articles_path %>
</p>
